
.card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.card{
    width:30%;
    height: 400px;
    background: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.068);
}

