.mat-tab-group {
    margin-bottom: 48px;
    
  }


.header{
    width: 100%;
    height: 80px;
    background: rgb(143, 211, 189);
    display: flex;
    justify-content: space-between;
}

.header h1{
    font-family: "Proxima Nova",system-ui,sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    padding-top: 25px;
}

.logout-button{
    background: #333;
    color: #fff;
    margin-top: 25px;
    margin-right: 25px;
    width:100px;
    height:30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5%;
    cursor: pointer;
}

.invisible{
    visibility: hidden;
}
