<div class="header">
    <div class="logout" class = "logout-button invisible" (click)="logout()">Logout</div>
    <h1>Health Monitor</h1>
    <div class="logout" class = "logout-button" (click)="logout()">Logout</div>
</div>
<mat-tab-group mat-align-tabs="center" class="navbar">
    <mat-tab class="nav-buton">
        <ng-template mat-tab-label>
            <mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
            Dashboard
        </ng-template>
        <app-summary>

        </app-summary>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon aria-hidden="false" aria-label="Example home icon">pending_actions</mat-icon>
            Daily Data
        </ng-template>
        <app-daily-data></app-daily-data>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon aria-hidden="false" aria-label="Example home icon">fact_check</mat-icon>
            Set Goals
        </ng-template>

        <app-set-goals></app-set-goals>
    </mat-tab>
</mat-tab-group>
