<!-- <div class="chbase-login"> 
    <div class="login-button" (click)="connect()"> Login</div>
</div> -->

<div class="header">
    <div class="logout" class = "logout-button invisible" (click)="connect()">Logout</div>
    <h1>Health Monitor</h1>
    <div class="logout" class = "logout-button" (click)="connect()">Login</div>
</div>

<div class="card-wrapper">
    <div class="card">
        <img  class = "image" src="https://www.iamexpat.nl/sites/default/files/styles/article--full/public/dutch-health-insurance.jpg?itok=Phd4plYB"/>
    </div>
    <div class="card">
        <img  class = "image" src="https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"/>
    </div>
    <div class="card">
        <img  class = "image" src="https://www.iamexpat.nl/sites/default/files/styles/article--full/public/dutch-health-insurance.jpg?itok=Phd4plYB"/>
    </div>
</div>
