// .chbase-login
// {
//     width:30%;
//     height:30%;
//     margin: auto;
//     box-shadow: 0 0 5px rgba(0 ,0 ,0,0.2 );
//     margin-top: 15%;
//     position:relative;
// }
// .login-button
// {
//     width:200px;
//     height:50px;
//     box-shadow: 0 0 5px rgba(0,0,0,0.2);
//     position: absolute;
//     margin-top:100px;
//     margin-left: 190px;
//     text-align: center;
//     line-height: 50px;
//     cursor: pointer;   
// }
// .login-button:hover{
//     box-shadow: 0 0 10px rgba(0,0,0,0.2);
// }

.header{
    width: 100%;
    height: 80px;
    background: rgb(143, 211, 189);
    display: flex;
    justify-content: space-between;
}

.header h1{
    font-family: "Proxima Nova",system-ui,sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    padding-top: 25px;
}

.logout-button{
    background: #333;
    color: #fff;
    margin-top: 25px;
    margin-right: 25px;
    width:100px;
    height:30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5%;
    cursor: pointer;
}

.invisible{
    visibility: hidden;
}


.card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.card{
    width:30%;
    height: 400px;
    background: rgb(182, 211, 208);
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 10px 10px rgba(211, 210, 210, 0.639);
}

.image{
    display: block;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    overflow: hidden;
    object-fit: cover;
}