<!-- <div class="dailydata">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sleep Data
        </mat-panel-title>
        <mat-panel-description>
          Enter the sleep data
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align: center;">
        <label for="Hours">Hours : </label>
        <select name='Hours' >
          <option *ngFor="let hour of Hours" value={{hour}}>{{hour}}</option>
        </select>
        <label for="Minutes">Minutes : </label>
          <select name='Minutes'  >
            <option *ngFor="let minute of Minutes" value={{minute}} >{{hour}}</option>
          </select>
        </div>
        <div>
          <button (click)='check()' >Submit</button>
        </div>
    
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          exercise data
        </mat-panel-title>
        <mat-panel-description>
          Enter the exercise data
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Weight data
        </mat-panel-title>
        <mat-panel-description>
          Enter the weight data
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    </div>
     -->