// .mat-tab-group {
//     margin-bottom: 48px;
    
//   }


// .header{
//     width: 100%;
//     height: 60px;
//     text-align: center;
//     padding-top: 25px;
//     background: rgb(143, 211, 189);
//     color: #333;
    
// }

// .header h1{
//     font-family: "Proxima Nova",system-ui,sans-serif;
//     font-weight: bold;
//     font-size: 30px;
//     color: #fff;
// }
