input[type=text],input[type=time],input[type=number], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form-wrapper {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 50px;
}

.add-margin{
  margin-bottom: 20px;
  margin-top: 20px;
}

.awakening{
  position: relative;
  border: 2px solid rgba(51, 51, 51, 0.238);
  margin-bottom: 20px;
  padding: 10px;
}

.add-button{
  width:70px !important;
  position: absolute !important;
  right: 20px !important;
  top: 0 !important;
}