<div class="form-wrapper" *ngIf="formPage == 2">
  <form>
    <h2>Exercise Information</h2>
    <label>Select Exercise Activity</label>
    <select [(ngModel)]="exercise.Title" name="title" (change)="ifDistance()">
      <option value="running">Running</option>
      <option value="swimming">Swimming</option>
      <option value="cardeo">Cardeo</option>
      <option value="gym">Gym</option>
      <option value="other">Other</option>
    </select>

    <span *ngIf="showAdditionalInfo==1">
      <label>Distance</label>
      <input type="text" name="distance" placeholder="Enter distance.." [(ngModel)]="exercise.Distance">
    </span>

    <span *ngIf="showAdditionalInfo==2">
      <label>Exercise Name</label>
      <input type="text" name="title" placeholder="Enter exercise name.." [(ngModel)]="exercise.Title">
    </span>

    <label>Exercise Details</label>
    <textarea placeholder="Exercise details.." name="details" [(ngModel)]="exercise.Details"></textarea>

    <label>Start time:</label>
    <input type="time" name="startTime" [(ngModel)]="exercise.StartTime">

    <label>End time:</label>
    <input type="time" name="endTime" [(ngModel)]="exercise.EndTime">

    <input type="button" value="Next" (click)="check()">
  </form>
</div>

<div class="form-wrapper" *ngIf="formPage == 3">
  <form>
    <h2>Sleep Information</h2>
    <label>Bed-Time:</label>
    <input type="time" name="appt">
    <br><br>
    <label>Wake-Time:</label>
    <input type="time" name="appt"><br>
    <!-- <div>
      <label for="sleep-minutes">Sleep-minutes </label>
      <input type="text" name="sleep-minutes" placeholder="Your Sleep-minutes..">
    </div> -->



    <div class=add-margin>
      <label for="awakening">Awakening </label>
      <input type="checkbox" name="sleep_minutes" value='awakening' [(ngModel)]="sleepdata.Awakening" />
      <label for="Medications">Medications </label>
      <input type="checkbox" name="medications" value="medications" [(ngModel)]="sleepdata.Medication" />
    </div>

    <div *ngIf="sleepdata.Awakening" class="awakening">
      <h3>Awakening</h3>
      <input type="button" value="Add" (click)="noOfAwakenings = noOfAwakenings + 1" class="add-button">
      <span *ngFor="let n of Arr(noOfAwakenings).fill(1)">
        <label>Awakened-Time:</label>
        <input type="time" name="awkndTime">
        <label for="Awakened duration">settling-minutes </label>
        <input type="text" name="awkndDur" placeholder="Timwe you were awake in minutes..">
      </span>
    </div>

    <div *ngIf="sleepdata.Medication" class="awakening">
      <h3>Medication</h3>
      <input type="button" value="Add" (click)="noOfMedications = noOfMedications + 1" class="add-button">

      <span *ngFor="let n of Arr(noOfMedications).fill(1)">
        <label for="Medications">Medications </label>
        <input type="text" name="Medications" placeholder="Your Medications">
      </span>
    </div>



    <input type="button" value="Next" (click)="check()">

  </form>
</div>

<div class="form-wrapper" *ngIf="formPage == 1">
  <form>
    <label>Weight</label>
    <input type="text" name="weight" placeholder="Enter today's weight.." [(ngModel)]="weight" >

    <input type="button" value="Get" (click)="submitDailyData()">
    <input type="button" value="Post" (click)="submitWeight()">
  </form>
</div>

